In [1]:
## Importing the dataset
import pandas as pd
channel_sales_df=pd.read_excel("Model_Sales_Segmented.xlsx",sheet_name="model_sales")
channel_sales_df.shape[0]

668

In [2]:
##Checking the Type cut
channel_sales_df['Type'].value_counts()

Mid Size    368
Luxury      294
0             6
Name: Type, dtype: int64

In [3]:
##Checking the Business Cut 
channel_sales_df['Business'].value_counts()

Domestic         485
International    183
Name: Business, dtype: int64

In [4]:
channel_sales_df.columns

Index(['company', 'brand', 'Model', 'Brand + Model', 'Type', 'Business', 'ID',
       'Year', 'Cable TV', 'Local Mags', 'Magazines', 'Natl Newsp',
       'Natl Spot Radio', 'Network Radio', 'Network TV', 'Newspapers',
       'Outdoor', 'Spot TV', 'Syndication', 'US Internet', 'YEAR', 'BRAND',
       'MODEL_LINE', 'Sales'],
      dtype='object')

In [5]:
##Dummifying the year and brand columns
df = channel_sales_df
dfcolumnname = ["year1995","year1996","year1997","year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005"]
yearmat = [1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005]


for i in range(11):
    def yeardummy(val): 
        
        if val == yearmat[i]:
            return(1)
        else:
            return(0)
    df[dfcolumnname[i]] = df["Year"].map(yeardummy) 
    


salesfac = ["audi","cadillac","ford","pontiac","scion"]
def saleskeep(val):
    if val in salesfac:
        return 1
    else:
        return 0
    
df["salesfacflag"] = df["brand"].map(saleskeep)

channel_sales_df = df
channel_sales_df[:5]

,company,brand,Model,Brand + Model,Type,Business,ID,Year,Cable TV,Local Mags,...,year1997,year1998,year1999,year2000,year2001,year2002,year2003,year2004,year2005,salesfacflag
0,Chrysler Corp.,chrysler,300m,chrysler300m,Luxury,Domestic,10903,1999,4598.5,0.0,...,0,0,1,0,0,0,0,0,0,0
1,Chrysler Corp.,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2000,3833.8,0.0,...,0,0,0,1,0,0,0,0,0,0
2,Chrysler Corp.,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2001,4349.6,0.0,...,0,0,0,0,1,0,0,0,0,0
3,Chrysler Corp.,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2002,3846.0,0.0,...,0,0,0,0,0,1,0,0,0,0
4,Chrysler Corp.,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2003,50.2,0.0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#Renaming the columns accordingly 
channel_sales_df=channel_sales_df[['company','Sales', 'brand', 'Model', 'Brand + Model', 'Type', 'Business', 'ID',
       'Year', 'Cable TV', 'Local Mags', 'Magazines', 'Natl Newsp',
       'Natl Spot Radio', 'Network Radio', 'Network TV', 'Newspapers',
       'Outdoor', 'Spot TV', 'Syndication', 'US Internet',"year1995","year1996","year1997","year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005","salesfacflag"]]

In [7]:
channel_sales_df.iloc[:10]

,company,Sales,brand,Model,Brand + Model,Type,Business,ID,Year,Cable TV,...,year1997,year1998,year1999,year2000,year2001,year2002,year2003,year2004,year2005,salesfacflag
0,Chrysler Corp.,86731,chrysler,300m,chrysler300m,Luxury,Domestic,10903,1999,4598.5,...,0,0,1,0,0,0,0,0,0,0
1,Chrysler Corp.,50614,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2000,3833.8,...,0,0,0,1,0,0,0,0,0,0
2,Chrysler Corp.,36495,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2001,4349.6,...,0,0,0,0,1,0,0,0,0,0
3,Chrysler Corp.,32316,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2002,3846.0,...,0,0,0,0,0,1,0,0,0,0
4,Chrysler Corp.,24854,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2003,50.2,...,0,0,0,0,0,0,1,0,0,0
5,Chrysler Corp.,5044,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2004,9.6,...,0,0,0,0,0,0,0,1,0,0
6,Chrysler Corp.,73645,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1995,1480.3,...,0,0,0,0,0,0,0,0,0,0
7,Chrysler Corp.,35946,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1996,1337.4,...,0,0,0,0,0,0,0,0,0,0
8,Chrysler Corp.,31497,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1997,1287.4,...,1,0,0,0,0,0,0,0,0,0
9,Chrysler Corp.,38574,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1998,2254.9,...,0,1,0,0,0,0,0,0,0,0

In [8]:
channel_sales_df.iloc[:,7:].sum()

ID                 7833399.0
Year               1335881.0
Cable TV           1486969.4
Local Mags            4240.7
Magazines          4005155.5
Natl Newsp          500547.1
Natl Spot Radio      62606.7
Network Radio         9423.0
Network TV         4802347.7
Newspapers         1450051.1
Outdoor              17423.1
Spot TV            7137995.3
Syndication         328365.4
US Internet          93620.8
year1995                69.0
year1996                65.0
year1997                68.0
year1998                60.0
year1999                60.0
year2000                58.0
year2001                59.0
year2002                56.0
year2003                54.0
year2004                58.0
year2005                61.0
salesfacflag           197.0
dtype: float64

In [9]:
##Collecting price information
sales_df=pd.read_csv("Auto_Sales_Prices.csv")
sales_df.columns

Index(['ID', 'YEAR', 'BRAND', 'MODEL_LINE', 'Sales', '1_if_Import',
       'Wheel_Base_base', 'Length_base', 'Width_base', 'Height_base',
       'Curb_Weight_base', 'Horse_Power_base', 'Transmission_base', 'ABS_base',
       'MPG-C_base', 'MPG-H_base', 'Prices_base', 'Wheel_Base_avg_model',
       'Length_avg_model', 'Width_avg_model', 'Height_avg_model',
       'Curb_Weight_avg_model', 'Horse_Power_avg_model',
       'Transmission_avg_model', 'ABS_avg_model', 'MPG-C_avg_model',
       'MPG-H_avg_model', 'Prices_avg_model'],
      dtype='object')

In [10]:
price_df= pd.DataFrame(sales_df.groupby(['BRAND', 'ID','MODEL_LINE','YEAR'])['Prices_avg_model'].mean())
price_df=price_df.reset_index()
price_df[:2]

   BRAND     ID MODEL_LINE  YEAR  Prices_avg_model
0  ACURA  10101         CL  1996           22545.0
1  ACURA  10101         CL  1997           24045.0

In [11]:
# Get price info for the model
channel_sales_df=channel_sales_df.merge(price_df,left_on=['ID','Year'],right_on=['ID','YEAR'],how='left')
channel_sales_df.iloc[:10]

,company,Sales,brand,Model,Brand + Model,Type,Business,ID,Year,Cable TV,...,year2001,year2002,year2003,year2004,year2005,salesfacflag,BRAND,MODEL_LINE,YEAR,Prices_avg_model
0,Chrysler Corp.,86731,chrysler,300m,chrysler300m,Luxury,Domestic,10903,1999,4598.5,...,0,0,0,0,0,0,CHRYSLER,300M,1999,28895.0
1,Chrysler Corp.,50614,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2000,3833.8,...,0,0,0,0,0,0,CHRYSLER,300M,2000,29690.0
2,Chrysler Corp.,36495,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2001,4349.6,...,1,0,0,0,0,0,CHRYSLER,300M,2001,30295.0
3,Chrysler Corp.,32316,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2002,3846.0,...,0,1,0,0,0,0,CHRYSLER,300M,2002,30795.0
4,Chrysler Corp.,24854,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2003,50.2,...,0,0,1,0,0,0,CHRYSLER,300M,2003,31110.0
5,Chrysler Corp.,5044,chrysler,300m,chrysler300m,Luxury,Domestic,10903,2004,9.6,...,0,0,0,1,0,0,CHRYSLER,300M,2004,31580.0
6,Chrysler Corp.,73645,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1995,1480.3,...,0,0,0,0,0,0,CHRYSLER,CIRRUS,1995,17970.0
7,Chrysler Corp.,35946,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1996,1337.4,...,0,0,0,0,0,0,CHRYSLER,CIRRUS,1996,18075.0
8,Chrysler Corp.,31497,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1997,1287.4,...,0,0,0,0,0,0,CHRYSLER,CIRRUS,1997,18915.0
9,Chrysler Corp.,38574,chrysler,cirrus,chryslercirrus,Mid Size,Domestic,10906,1998,2254.9,...,0,0,0,0,0,0,CHRYSLER,CIRRUS,1998,19995.0

In [12]:
channel_sales_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'ID', 'Year', 'Cable TV', 'Local Mags', 'Magazines',
       'Natl Newsp', 'Natl Spot Radio', 'Network Radio', 'Network TV',
       'Newspapers', 'Outdoor', 'Spot TV', 'Syndication', 'US Internet',
       'year1995', 'year1996', 'year1997', 'year1998', 'year1999', 'year2000',
       'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
       'salesfacflag', 'BRAND', 'MODEL_LINE', 'YEAR', 'Prices_avg_model'],
      dtype='object')

#### Combining channels into TV, Print, Radio, Online and Outdoor

In [13]:
## combining various channels 
channel_sales_df['TV']=channel_sales_df['Cable TV']+channel_sales_df['Network TV']+channel_sales_df['Spot TV']
channel_sales_df['Print']=channel_sales_df['Local Mags']+channel_sales_df['Magazines']+channel_sales_df['Natl Newsp']+channel_sales_df['Newspapers']
channel_sales_df['Radio']=channel_sales_df['Natl Spot Radio']+channel_sales_df['Network Radio']
channel_sales_df['Online']=channel_sales_df['US Internet']+channel_sales_df['Syndication']
#channel_sales_df=channel_sales_df[['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type', 'Business','Year','TV','Print','Radio','Online','Outdoor','Prices_avg_model', "salesfacflag", "year1996","year1997","year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005"]]
channel_sales_df=channel_sales_df[['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type', 'Business','TV','Print','Radio','Online','Outdoor','Prices_avg_model', "year1996","year1997","year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005"]]

In [14]:
channel_sales_df.iloc[:,7:].sum()

TV                  13427312.4
Print                5959994.4
Radio                  72029.7
Online                421986.2
Outdoor                17423.1
Prices_avg_model    18635893.0
year1996                  65.0
year1997                  68.0
year1998                  60.0
year1999                  60.0
year2000                  58.0
year2001                  59.0
year2002                  56.0
year2003                  54.0
year2004                  58.0
year2005                  61.0
dtype: float64

In [15]:
X=channel_sales_df.iloc[:,8:13]
Y=channel_sales_df[['Sales']]
X.isna().sum()
Y.isna().sum()

Sales    5
dtype: int64

In [16]:
channel_sales_df[channel_sales_df['Sales'].isna()]

,company,Sales,brand,Model,Brand + Model,Type,Business,TV,Print,Radio,...,year1996,year1997,year1998,year1999,year2000,year2001,year2002,year2003,year2004,year2005
281,Fuji,NaN,subaru,outback,subaruoutback,Luxury,International,877.7,1789.6,0.0,...,0,0,0,0,0,1,0,0,0,0
282,Fuji,NaN,subaru,outback,subaruoutback,Luxury,International,626.7,13.5,0.0,...,0,0,0,0,0,0,1,0,0,0
283,Fuji,NaN,subaru,outback,subaruoutback,Luxury,International,191.8,164.2,0.0,...,0,0,0,0,0,0,0,1,0,0
284,Fuji,NaN,subaru,outback,subaruoutback,Luxury,International,547.7,3295.4,0.0,...,0,0,0,0,0,0,0,0,1,0
285,Fuji,NaN,subaru,outback,subaruoutback,Luxury,International,3903.1,3421.1,0.0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
subaru_mean=channel_sales_df[channel_sales_df['brand']=='subaru']['Sales'].mean()
channel_sales_df=channel_sales_df.fillna(subaru_mean)

channel_sales_df[:5]

,company,Sales,brand,Model,Brand + Model,Type,Business,TV,Print,Radio,...,year1996,year1997,year1998,year1999,year2000,year2001,year2002,year2003,year2004,year2005
0,Chrysler Corp.,86731,chrysler,300m,chrysler300m,Luxury,Domestic,45287.2,17697.8,0.0,...,0,0,0,1,0,0,0,0,0,0
1,Chrysler Corp.,50614,chrysler,300m,chrysler300m,Luxury,Domestic,49722.0,8925.2,0.0,...,0,0,0,0,1,0,0,0,0,0
2,Chrysler Corp.,36495,chrysler,300m,chrysler300m,Luxury,Domestic,16192.5,11592.4,0.0,...,0,0,0,0,0,1,0,0,0,0
3,Chrysler Corp.,32316,chrysler,300m,chrysler300m,Luxury,Domestic,19933.8,12302.4,0.0,...,0,0,0,0,0,0,1,0,0,0
4,Chrysler Corp.,24854,chrysler,300m,chrysler300m,Luxury,Domestic,755.5,925.6,0.0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
brndarry = channel_sales_df['brand'].drop_duplicates().values
df = channel_sales_df.copy()

for i in range(len(brndarry)):
    def brnddummy(val): 
        #print("test")
        if val == brndarry[i]:
            return(1)
        else:
            return(0)
    df[brndarry[i]] = df["brand"].map(brnddummy) 

    
columnnamess = df.columns
colnamesmod = columnnamess[7:(len(columnnamess)-1)]
colnamesmod

Index(['TV', 'Print', 'Radio', 'Online', 'Outdoor', 'Prices_avg_model',
       'year1996', 'year1997', 'year1998', 'year1999', 'year2000', 'year2001',
       'year2002', 'year2003', 'year2004', 'year2005', 'chrysler', 'dodge',
       'eagle', 'plymouth', 'ford', 'jaguar', 'lincoln', 'mercury', 'subaru',
       'buick', 'cadillac', 'chevrolet', 'oldsmobile', 'pontiac', 'saturn',
       'acura', 'kia', 'infiniti', 'scion'],
      dtype='object')

In [19]:
channel_sales_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005'],
      dtype='object')

In [21]:
#X=channel_sales_df[['TV', 'Print', 'Radio', 'Online', 'Outdoor',  'Prices_avg_model',"year1995","year1996","year1997","year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005","salesfacflag"]]
X=df[colnamesmod]
Y=df[['Sales']]
Y.isna().sum()

Sales    0
dtype: int64

In [22]:
X.columns

Index(['TV', 'Print', 'Radio', 'Online', 'Outdoor', 'Prices_avg_model',
       'year1996', 'year1997', 'year1998', 'year1999', 'year2000', 'year2001',
       'year2002', 'year2003', 'year2004', 'year2005', 'chrysler', 'dodge',
       'eagle', 'plymouth', 'ford', 'jaguar', 'lincoln', 'mercury', 'subaru',
       'buick', 'cadillac', 'chevrolet', 'oldsmobile', 'pontiac', 'saturn',
       'acura', 'kia', 'infiniti', 'scion'],
      dtype='object')

# 1. Overall model

## 1.1.1 Overall Ordinary Linear Regression: TV, Online and Price_avg_model are significant

`TV` are postive and significant while `Online` and `price_avg_model` are negative and significant.

In [23]:
## Year 1995 as dummy year and brand Audi as the brand 
import statsmodels.api as sm
X = sm.add_constant(X) # add constant to the regression
est = sm.OLS(Y, X)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.663
Method:                 Least Squares   F-statistic:                     38.50
Date:                Sat, 09 Nov 2019   Prob (F-statistic):          1.18e-132
Time:                        13:12:53   Log-Likelihood:                -8027.8
No. Observations:                 668   AIC:                         1.613e+04
Df Residuals:                     632   BIC:                         1.629e+04
Df Model:                          35
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const              2.94e+04   1.07e+04      2.740      0.006    8325.075    5.05e+04
TV                   1.8134      0.104     17.407      0.000       1.609       2.018
Print               -0.2169      0.214     -1.015      0.311      -0.637       0.203
Radio                6.0977      4.963      1.229      0.220      -3.648      15.843
Online              -3.3591      1.460     -2.302      0.022      -6.225      -0.493
Outdoor            -14.0657     15.824     -0.889      0.374     -45.139      17.008
Prices_avg_model    -0.7087      0.143     -4.962      0.000      -0.989      -0.428
year1996           928.8341   7170.063      0.130      0.897   -1.32e+04     1.5e+04
year1997         -1830.7499   7105.544     -0.258      0.797   -1.58e+04    1.21e+04
year1998          2108.2029   7386.637      0.285      0.775   -1.24e+04    1.66e+04
year1999          3407.6726   7433.208      0.458      0.647   -1.12e+04     1.8e+04
year2000          5870.9835   7446.524      0.788      0.431   -8751.940    2.05e+04
year2001          7555.3169   7409.416      1.020      0.308   -6994.736    2.21e+04
year2002          6223.6114   7519.105      0.828      0.408   -8541.841     2.1e+04
year2003          5842.8600   7637.041      0.765      0.445   -9154.186    2.08e+04
year2004          6239.7124   7609.479      0.820      0.413   -8703.209    2.12e+04
year2005           241.3712   7578.150      0.032      0.975   -1.46e+04    1.51e+04
chrysler         -9342.2618   9317.021     -1.003      0.316   -2.76e+04    8953.802
dodge             2.797e+04   9262.300      3.020      0.003    9782.376    4.62e+04
eagle            -2.646e+04   1.88e+04     -1.409      0.159   -6.33e+04    1.04e+04
plymouth          1.674e+04   1.35e+04      1.239      0.216   -9789.809    4.33e+04
ford              9.564e+04   9487.204     10.080      0.000     7.7e+04    1.14e+05
jaguar           -1846.2008   1.35e+04     -0.137      0.891   -2.83e+04    2.46e+04
lincoln           3.917e+04   1.39e+04      2.825      0.005    1.19e+04    6.64e+04
mercury           3.304e+04   1.01e+04      3.281      0.001    1.33e+04    5.28e+04
subaru            3.035e+04   1.09e+04      2.774      0.006    8863.918    5.18e+04
buick             3.359e+04   1.02e+04      3.288      0.001    1.35e+04    5.37e+04
cadillac         -2292.4029   9645.463     -0.238      0.812   -2.12e+04    1.66e+04
chevrolet         6.408e+04   9074.995      7.061      0.000    4.63e+04    8.19e+04
oldsmobile        2.222e+04   1.11e+04      2.010      0.045     507.550    4.39e+04
pontiac           3.481e+04   9661.576      3.602      0.000    1.58e+04    5.38e+04
saturn           -2747.7065   2.28e+04     -0.121      0.904   -4.75e+04     4.2e+04
acura            -9806.9840   9067.868     -1.082      0.280   -2.76e+04    7999.813
kia                -2.3e+04   1.29e+04     -1.786      0.075   -4.83e+04    2284.979
infiniti         -1.135e+04   1.02e+04     -1.118      0.264   -3.13e+04    8583.732
scion             1.304e+04   2.09e+04      0.623      0.533   -2.81e+04    5.42e+04
==============================================================================
Omnibus:                       60.938   Durbin-Watson:                   0.938
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              124.722
Skew:                           0.549   Prob(JB):                     8.26e-28
Kurtosis:                       4.810   Cond. No.                     8.81e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.81e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/chenlin/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

## 1.1.2 Overall Log-Log model: TV and Price_avg_model are significant

Interpretation: 
$\Delta y = \beta_{1} \Delta x$

After the log transformation to both X and Y, `TV` and `Price_avg_model` remain robust and `Online` loses its significance. e.g. Holding other factors constant, if `TV` channel increases its spending by 1%, the sales would increase 0.21%.

In [24]:
# log-log model
import numpy as np
logX = X.copy()
logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']]=logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].apply(lambda x: np.log(x+1))
logY = Y.apply(lambda y: np.log(y+1))

estlog = sm.OLS(logY, logX)
estlog2 = estlog.fit()
print(estlog2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                     38.12
Date:                Sat, 09 Nov 2019   Prob (F-statistic):          9.52e-132
Time:                        13:12:53   Log-Likelihood:                -756.41
No. Observations:                 668   AIC:                             1585.
Df Residuals:                     632   BIC:                             1747.
Df Model:                          35
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               13.1493      0.705     18.640      0.000      11.764      14.535
TV                   0.2131      0.014     15.202      0.000       0.186       0.241
Print                0.0136      0.014      0.973      0.331      -0.014       0.041
Radio               -0.0036      0.015     -0.243      0.808      -0.032       0.025
Online               0.0149      0.014      1.056      0.291      -0.013       0.043
Outdoor             -0.0380      0.024     -1.555      0.120      -0.086       0.010
Prices_avg_model    -0.5484      0.064     -8.524      0.000      -0.675      -0.422
year1996             0.1663      0.135      1.233      0.218      -0.099       0.431
year1997             0.0075      0.134      0.056      0.955      -0.255       0.270
year1998             0.1642      0.138      1.189      0.235      -0.107       0.436
year1999             0.2922      0.138      2.111      0.035       0.020       0.564
year2000             0.4226      0.140      3.021      0.003       0.148       0.697
year2001             0.3777      0.140      2.690      0.007       0.102       0.653
year2002             0.2981      0.142      2.104      0.036       0.020       0.576
year2003             0.3148      0.145      2.168      0.031       0.030       0.600
year2004             0.2927      0.145      2.022      0.044       0.008       0.577
year2005             0.2815      0.145      1.946      0.052      -0.003       0.566
chrysler             0.3999      0.171      2.342      0.020       0.065       0.735
dodge                0.7551      0.173      4.370      0.000       0.416       1.094
eagle               -0.1716      0.350     -0.490      0.624      -0.859       0.516
plymouth             0.8512      0.253      3.370      0.001       0.355       1.347
ford                 1.7396      0.176      9.900      0.000       1.395       2.085
jaguar              -0.1001      0.254     -0.394      0.694      -0.599       0.399
lincoln              1.2475      0.239      5.214      0.000       0.778       1.717
mercury              1.1918      0.186      6.396      0.000       0.826       1.558
subaru               1.4364      0.201      7.146      0.000       1.042       1.831
buick                1.1518      0.191      6.017      0.000       0.776       1.528
cadillac             0.6612      0.181      3.651      0.000       0.306       1.017
chevrolet            1.5538      0.169      9.174      0.000       1.221       1.886
oldsmobile           1.2557      0.207      6.054      0.000       0.848       1.663
pontiac              1.3047      0.177      7.351      0.000       0.956       1.653
saturn               0.1919      0.415      0.463      0.644      -0.623       1.006
acura               -0.2222      0.170     -1.308      0.191      -0.556       0.111
kia                  0.2605      0.243      1.073      0.284      -0.216       0.737
infiniti             0.1199      0.190      0.632      0.527      -0.252       0.492
scion                0.4685      0.392      1.196      0.232      -0.301       1.238
==============================================================================
Omnibus:                      221.216   Durbin-Watson:                   1.061
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1343.220
Skew:                          -1.341   Prob(JB):                    2.11e-292
Kurtosis:                       9.408   Cond. No.                         420.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 1.2.1 OLS Channel Elasticity

In [25]:
def elascoeff(val):
    X=channel_sales_df[[val]]
    Y=channel_sales_df[['Sales']]
    #Y.isna().sum()
    est = sm.OLS(Y, X)
    est2 = est.fit()
    d = est2.params.values[0]
    return(d)

## Channel Elasticity 
model1params = est2.params
data1 = channel_sales_df
data1 = data1[["TV",'Print', "Radio","Online","Outdoor", "Prices_avg_model"]]
data1mean = pd.DataFrame(data1.mean())
data1mean.columns = ["MeanValues"]
data1mean["Sales"] = channel_sales_df["Sales"].mean()
data1mean["Variance"] = data1.var()
data1mean

data1mean["channels"] = data1mean.index

data1mean["Coefficients"] = model1params
# data1mean["Coefficients"] = data1mean["channels"].map(elascoeff)
data1mean["Elasticity"] = data1mean["Coefficients"]*(data1mean["MeanValues"]/data1mean["Sales"])
data1mean

,MeanValues,Sales,Variance,channels,Coefficients,Elasticity
TV,20063.982635,70447.218237,5.170683e+08,TV,1.813355,0.516459
Print,8875.575449,70447.218237,1.639409e+08,Print,-0.216932,-0.027331
Radio,107.828892,70447.218237,1.221644e+05,Radio,6.097672,0.009333
Online,588.494311,70447.218237,2.088504e+06,Online,-3.359078,-0.028061
Outdoor,26.082485,70447.218237,2.307655e+04,Outdoor,-14.065692,-0.005208
Prices_avg_model,28071.962445,70447.218237,2.218927e+08,Prices_avg_model,-0.708691,-0.282401

## 1.2.2 log-log model elasticity: not improve elasticity

$ log(Y) = \beta_{1}log(X)+ \beta_{0} $

$\beta_{1}$ IS THE ELASTICITY.

`Log-Log model doesn't make improvement to the elasticity.`

In [26]:
coef_log = estlog2.params[estlog2.params.index.isin(['TV','Print','Radio','Online','Outdoor', "Prices_avg_model"])]
mean_logX = logX[['TV','Print','Radio','Online','Outdoor', "Prices_avg_model"]].mean()
var_logX = logX[['TV','Print','Radio','Online','Outdoor', "Prices_avg_model"]].var()
mean_logY  = logY[['Sales']].mean()


data1log = pd.DataFrame(data=[mean_logX, coef_log, var_logX])
data1log = data1log.T.rename(columns={0:'MeanValues', 1:'Coefficients', 2:'Variance'})
data1log['Sales'] = mean_logY[0]
data1log['channel'] = data1log.index
data1log = data1log[['MeanValues', 'Sales', 'Variance', 'channel', 'Coefficients']]
data1log["Elasticity"] = data1log["Coefficients"]
data1log

,MeanValues,Sales,Variance,channel,Coefficients,Elasticity
TV,8.213492,10.574977,10.108247,TV,0.213055,0.213055
Print,7.325562,10.574977,10.417236,Print,0.013621,0.013621
Radio,1.308115,10.574977,5.568212,Radio,-0.003559,-0.003559
Online,3.468742,10.574977,9.218372,Online,0.014905,0.014905
Outdoor,0.402034,10.574977,1.871365,Outdoor,-0.037955,-0.037955
Prices_avg_model,10.119594,10.574977,0.354848,Prices_avg_model,-0.548381,-0.548381

#### Breaking down into Luxury and Mid Size

In [27]:
midsize_df=channel_sales_df[channel_sales_df['Type']=='Mid Size']
luxury_df=channel_sales_df[channel_sales_df['Type']=='Luxury']

# 2. Model for Midsize Segment

In [28]:
midsize_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005'],
      dtype='object')

In [29]:
brndarry = midsize_df['brand'].drop_duplicates().values
df = midsize_df.copy()

for i in range(len(brndarry)):
    def brnddummy(val): 
        #print("test")
        if val == brndarry[i]:
            return(1)
        else:
            return(0)
    df[brndarry[i]] = df["brand"].map(brnddummy) 

    
columnnamess = df.columns
colnamesmod = columnnamess[7:(len(columnnamess)-1)]
colnamesmod

midsize_df = df
midsize_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
       'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'mercury', 'subaru',
       'buick', 'chevrolet', 'oldsmobile', 'pontiac', 'saturn', 'acura', 'kia',
       'scion'],
      dtype='object')

## 2.1.1 OLS Model: TV, Online and Prices_avg_model are significant

`TV` is still positively significant and `Online` appears to be negatively significant.

In [30]:

##Running regression as year1995 as base for dummy year and brand scion as base for dummy brand
X_midsize=midsize_df[['TV', 'Print', 'Radio', 'Online', 'Outdoor',  'Prices_avg_model' ,"year1996","year1997","year1998",
                      "year1999","year2000","year2001","year2002","year2003","year2004","year2005",
                     'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'mercury', 'subaru',
                     'buick', 'chevrolet', 'oldsmobile', 'pontiac', 'saturn', 'acura', 'kia']]


X_midsize = sm.add_constant(X_midsize)
Y_midsize=midsize_df[['Sales']]
import statsmodels.api as sm
est = sm.OLS(Y_midsize, X_midsize)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.692
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     25.19
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           1.55e-68
Time:                        13:12:53   Log-Likelihood:                -4459.2
No. Observations:                 368   AIC:                             8980.
Df Residuals:                     337   BIC:                             9102.
Df Model:                          30
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             4.921e+04   2.43e+04      2.022      0.044    1332.529    9.71e+04
TV                   2.0882      0.168     12.440      0.000       1.758       2.418
Print               -0.7470      0.437     -1.709      0.088      -1.607       0.113
Radio                9.2313      6.684      1.381      0.168      -3.916      22.379
Online              -5.2240      1.803     -2.898      0.004      -8.770      -1.678
Outdoor            -40.0756     27.708     -1.446      0.149     -94.577      14.426
Prices_avg_model    -0.9675      0.554     -1.747      0.082      -2.057       0.122
year1996          2574.9940   1.08e+04      0.239      0.812   -1.87e+04    2.38e+04
year1997          5154.0441   1.07e+04      0.483      0.629   -1.58e+04    2.61e+04
year1998          6489.7464   1.08e+04      0.600      0.549   -1.48e+04    2.78e+04
year1999          5355.3786   1.11e+04      0.484      0.629   -1.64e+04    2.71e+04
year2000          2009.2390   1.13e+04      0.178      0.859   -2.02e+04    2.42e+04
year2001          6184.8040   1.13e+04      0.548      0.584    -1.6e+04    2.84e+04
year2002          8850.5773   1.17e+04      0.755      0.451   -1.42e+04    3.19e+04
year2003          2437.4071   1.19e+04      0.205      0.838    -2.1e+04    2.59e+04
year2004          9065.2392    1.2e+04      0.755      0.451   -1.46e+04    3.27e+04
year2005         -3142.2551   1.17e+04     -0.268      0.789   -2.62e+04    1.99e+04
chrysler         -2.908e+04    2.4e+04     -1.211      0.227   -7.63e+04    1.82e+04
dodge             1.473e+04   2.34e+04      0.628      0.530   -3.14e+04    6.08e+04
eagle            -3.355e+04   5.19e+04     -0.646      0.519   -1.36e+05    6.86e+04
plymouth          2545.4415   2.66e+04      0.096      0.924   -4.98e+04    5.49e+04
ford              9.524e+04   2.39e+04      3.979      0.000    4.82e+04    1.42e+05
mercury           2.031e+04   2.39e+04      0.850      0.396   -2.67e+04    6.73e+04
subaru            1.466e+04   2.46e+04      0.596      0.552   -3.37e+04    6.31e+04
buick             3.987e+04   2.49e+04      1.598      0.111   -9196.184    8.89e+04
chevrolet         6.174e+04    2.3e+04      2.689      0.008    1.66e+04    1.07e+05
oldsmobile        8938.3275   2.49e+04      0.359      0.720      -4e+04    5.79e+04
pontiac           2.617e+04   2.34e+04      1.117      0.265   -1.99e+04    7.22e+04
saturn           -2.022e+04   3.26e+04     -0.621      0.535   -8.43e+04    4.38e+04
acura            -1.593e+04    2.9e+04     -0.550      0.583   -7.29e+04     4.1e+04
kia              -4.335e+04    2.5e+04     -1.733      0.084   -9.26e+04    5866.600
==============================================================================
Omnibus:                       12.226   Durbin-Watson:                   1.021
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               15.583
Skew:                           0.305   Prob(JB):                     0.000413
Kurtosis:                       3.802   Cond. No.                     1.46e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.46e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

## 2.1.2 Log-Log Model: TV, and Price_avg_model are significant

In [31]:
logX = X_midsize.copy()
logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']]=logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].apply(lambda x: np.log(x+1))
logY = Y_midsize.apply(lambda y: np.log(y+1))


estlogmod = sm.OLS(logY, logX)
estlogmod2 = estlogmod.fit()
print(estlogmod2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.625
Model:                            OLS   Adj. R-squared:                  0.592
Method:                 Least Squares   F-statistic:                     18.74
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           7.00e-55
Time:                        13:12:53   Log-Likelihood:                -322.42
No. Observations:                 368   AIC:                             706.8
Df Residuals:                     337   BIC:                             828.0
Df Model:                          30
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               13.8346      1.573      8.793      0.000      10.740      16.930
TV                   0.1705      0.018      9.637      0.000       0.136       0.205
Print                0.0175      0.015      1.157      0.248      -0.012       0.047
Radio                0.0232      0.015      1.541      0.124      -0.006       0.053
Online               0.0069      0.015      0.456      0.649      -0.023       0.037
Outdoor             -0.0369      0.026     -1.429      0.154      -0.088       0.014
Prices_avg_model    -0.5426      0.163     -3.334      0.001      -0.863      -0.223
year1996             0.2295      0.142      1.617      0.107      -0.050       0.509
year1997             0.1064      0.141      0.755      0.451      -0.171       0.384
year1998             0.1627      0.143      1.139      0.255      -0.118       0.444
year1999             0.3179      0.146      2.177      0.030       0.031       0.605
year2000             0.2835      0.149      1.900      0.058      -0.010       0.577
year2001             0.3447      0.152      2.268      0.024       0.046       0.644
year2002             0.3098      0.156      1.992      0.047       0.004       0.616
year2003             0.3220      0.161      1.999      0.046       0.005       0.639
year2004             0.3309      0.159      2.078      0.038       0.018       0.644
year2005             0.2891      0.158      1.835      0.067      -0.021       0.599
chrysler            -0.0688      0.321     -0.215      0.830      -0.699       0.562
dodge                0.6551      0.311      2.108      0.036       0.044       1.266
eagle               -1.1725      0.688     -1.705      0.089      -2.525       0.180
plymouth             0.6006      0.354      1.695      0.091      -0.097       1.298
ford                 1.5895      0.312      5.091      0.000       0.975       2.204
mercury              0.7920      0.321      2.470      0.014       0.161       1.423
subaru               0.9637      0.333      2.897      0.004       0.309       1.618
buick                1.0888      0.333      3.272      0.001       0.434       1.743
chevrolet            1.1169      0.303      3.682      0.000       0.520       1.714
oldsmobile           0.7540      0.330      2.288      0.023       0.106       1.402
pontiac              1.0337      0.307      3.365      0.001       0.429       1.638
saturn              -0.2669      0.420     -0.636      0.525      -1.092       0.559
acura                0.1492      0.389      0.383      0.702      -0.616       0.915
kia                 -0.0059      0.333     -0.018      0.986      -0.660       0.648
==============================================================================
Omnibus:                       63.076   Durbin-Watson:                   1.309
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.757
Skew:                          -0.849   Prob(JB):                     1.11e-33
Kurtosis:                       5.649   Cond. No.                         797.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 2.2.1 Calculating the price elasticity

In [32]:
## Channel Elasticity 
model2params = est2.params
data2 = midsize_df
data2 = data2[["TV",'Print', "Radio","Online","Outdoor","Prices_avg_model"]]
data2mean = pd.DataFrame(data2.mean())
data2mean.columns = ["MeanValues"]
data2mean["Sales"] = midsize_df["Sales"].mean()
data2mean["Variance"] = data2.var()
#data2mean
data2mean["Coefficients"] = model2params
data2mean["Elasticity"] = data2mean["Coefficients"]*(data2mean["MeanValues"]/data2mean["Sales"])
data2mean

,MeanValues,Sales,Variance,Coefficients,Elasticity
TV,24228.234511,99243.576087,6.900594e+08,2.088209,0.509792
Print,8427.112772,99243.576087,8.994125e+07,-0.746977,-0.063428
Radio,133.784239,99243.576087,1.622318e+05,9.231296,0.012444
Online,851.863859,99243.576087,3.346112e+06,-5.224015,-0.044841
Outdoor,18.544293,99243.576087,9.361721e+03,-40.075598,-0.007488
Prices_avg_model,19780.521621,99243.576087,2.956195e+07,-0.967517,-0.192838

In [33]:
coef_log = estlogmod2.params[estlogmod2.params.index.isin(['TV','Print','Radio','Online','Outdoor','Prices_avg_model'])]
mean_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].mean()
var_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].var()
mean_logY  = logY[['Sales']].mean()


data2log = pd.DataFrame(data=[mean_logX, coef_log, var_logX])
data2log = data2log.T.rename(columns={0:'MeanValues', 1:'Coefficients', 2:'Variance'})
data2log['Sales'] = mean_logY[0]
data2log['channel'] = data2log.index
data2log = data2log[['MeanValues', 'Sales', 'Variance', 'channel', 'Coefficients']]
data2log["Elasticity"] = data2log["Coefficients"]
data2log

,MeanValues,Sales,Variance,channel,Coefficients,Elasticity
TV,8.581579,11.156292,8.707146,TV,0.170475,0.170475
Print,6.982827,11.156292,12.661893,Print,0.017463,0.017463
Radio,1.595161,11.156292,6.216752,Radio,0.023190,0.023190
Online,3.987600,11.156292,9.940814,Online,0.006883,0.006883
Outdoor,0.462553,11.156292,1.913316,Outdoor,-0.036928,-0.036928
Prices_avg_model,9.857365,11.156292,0.069921,Prices_avg_model,-0.542618,-0.542618

# 3. Model for Luxury Segment

In [34]:
luxury_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005'],
      dtype='object')

In [35]:
brndarry = luxury_df['brand'].drop_duplicates().values
df = luxury_df.copy()

for i in range(len(brndarry)):
    def brnddummy(val): 
        #print("test")
        if val == brndarry[i]:
            return(1)
        else:
            return(0)
    df[brndarry[i]] = df["brand"].map(brnddummy) 

    
columnnamess = df.columns
colnamesmod = columnnamess[7:(len(columnnamess)-1)]
colnamesmod

luxury_df = df
luxury_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
       'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'jaguar', 'lincoln',
       'mercury', 'subaru', 'buick', 'cadillac', 'chevrolet', 'pontiac',
       'acura', 'kia', 'infiniti', 'audi'],
      dtype='object')

## 3.1.2 OLS model: TV and Prices_avg_model are significant

In [36]:
X_luxury=luxury_df[['TV', 'Print', 'Radio', 'Online', 'Outdoor',  'Prices_avg_model',"year1996","year1997",
                    "year1998","year1999","year2000","year2001","year2002","year2003","year2004","year2005",
                   'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'jaguar', 'lincoln',
                    'mercury', 'subaru', 'buick', 'cadillac', 'chevrolet', 'pontiac',
                    'acura', 'kia', 'infiniti']]
Y_luxury=luxury_df[['Sales']]

X_luxury = sm.add_constant(X_luxury)
import statsmodels.api as sm
est = sm.OLS(Y_luxury, X_luxury)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.632
Model:                            OLS   Adj. R-squared:                  0.587
Method:                 Least Squares   F-statistic:                     14.01
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           2.36e-40
Time:                        13:12:53   Log-Likelihood:                -3337.8
No. Observations:                 294   AIC:                             6742.
Df Residuals:                     261   BIC:                             6863.
Df Model:                          32
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             2.373e+04   7584.881      3.128      0.002    8789.840    3.87e+04
TV                   0.7362      0.122      6.047      0.000       0.496       0.976
Print                0.3635      0.269      1.353      0.177      -0.165       0.892
Radio                0.4514      5.142      0.088      0.930      -9.674      10.577
Online               1.0052      2.764      0.364      0.716      -4.437       6.448
Outdoor              7.0027     20.935      0.334      0.738     -34.220      48.225
Prices_avg_model    -0.3888      0.106     -3.656      0.000      -0.598      -0.179
year1996         -2004.1049   5874.750     -0.341      0.733   -1.36e+04    9563.834
year1997         -6085.5823   5785.795     -1.052      0.294   -1.75e+04    5307.196
year1998          -688.1211   6312.386     -0.109      0.913   -1.31e+04    1.17e+04
year1999          4149.0044   6207.707      0.668      0.504   -8074.558    1.64e+04
year2000          5862.8558   6049.463      0.969      0.333   -6049.110    1.78e+04
year2001          4297.1799   5998.915      0.716      0.474   -7515.251    1.61e+04
year2002           -24.4846   5970.407     -0.004      0.997   -1.18e+04    1.17e+04
year2003          1679.3104   6109.083      0.275      0.784   -1.04e+04    1.37e+04
year2004         -2251.2720   6053.630     -0.372      0.710   -1.42e+04    9668.899
year2005          1080.0363   6174.922      0.175      0.861   -1.11e+04    1.32e+04
chrysler          8512.5653   6225.663      1.367      0.173   -3746.355    2.08e+04
dodge             2767.0646   8378.896      0.330      0.741   -1.37e+04    1.93e+04
eagle            -1.202e+04    1.1e+04     -1.092      0.276   -3.37e+04    9657.458
plymouth         -5757.6709   1.34e+04     -0.430      0.668   -3.21e+04    2.06e+04
ford               6.94e+04   6510.074     10.660      0.000    5.66e+04    8.22e+04
jaguar            -933.3679   7289.157     -0.128      0.898   -1.53e+04    1.34e+04
lincoln           4.839e+04   7733.007      6.257      0.000    3.32e+04    6.36e+04
mercury             2.3e+04   9745.988      2.360      0.019    3810.072    4.22e+04
subaru            3.395e+04      1e+04      3.382      0.001    1.42e+04    5.37e+04
buick              1.27e+04   7515.492      1.690      0.092   -2097.750    2.75e+04
cadillac          1.238e+04   5310.040      2.331      0.021    1920.039    2.28e+04
chevrolet         2.132e+04   6492.055      3.285      0.001    8540.191    3.41e+04
pontiac           5835.6798   9071.036      0.643      0.521    -1.2e+04    2.37e+04
acura             -792.2749   5091.421     -0.156      0.876   -1.08e+04    9233.216
kia               -1.43e+04   1.69e+04     -0.846      0.398   -4.76e+04     1.9e+04
infiniti         -2679.1442   5460.506     -0.491      0.624   -1.34e+04    8073.109
==============================================================================
Omnibus:                       19.751   Durbin-Watson:                   0.809
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.253
Skew:                           0.003   Prob(JB):                     1.12e-14
Kurtosis:                       5.290   Cond. No.                     6.66e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.66e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

## 3.1.2 Log-Log Model: TV And Price_avg_model are significant

In [37]:
logX = X_luxury.copy()
logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']]=logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].apply(lambda x: np.log(x+1))
logY = Y_luxury.apply(lambda y: np.log(y+1))


estloglux = sm.OLS(logY, logX)
estloglux2 = estloglux.fit()
print(estloglux2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.671
Model:                            OLS   Adj. R-squared:                  0.630
Method:                 Least Squares   F-statistic:                     16.61
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           2.93e-46
Time:                        13:12:53   Log-Likelihood:                -348.48
No. Observations:                 294   AIC:                             763.0
Df Residuals:                     261   BIC:                             884.5
Df Model:                          32
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               11.1545      0.896     12.451      0.000       9.390      12.919
TV                   0.2124      0.022      9.768      0.000       0.170       0.255
Print                0.0307      0.027      1.152      0.250      -0.022       0.083
Radio               -0.0251      0.027     -0.941      0.348      -0.078       0.027
Online               0.0234      0.026      0.898      0.370      -0.028       0.075
Outdoor              0.0170      0.059      0.287      0.774      -0.099       0.133
Prices_avg_model    -0.3749      0.082     -4.587      0.000      -0.536      -0.214
year1996             0.0371      0.228      0.162      0.871      -0.413       0.487
year1997             0.0097      0.225      0.043      0.966      -0.433       0.452
year1998             0.1384      0.240      0.576      0.565      -0.335       0.612
year1999             0.1986      0.234      0.850      0.396      -0.262       0.659
year2000             0.5620      0.234      2.401      0.017       0.101       1.023
year2001             0.4229      0.232      1.821      0.070      -0.034       0.880
year2002             0.3125      0.231      1.355      0.177      -0.142       0.767
year2003             0.2986      0.236      1.264      0.207      -0.166       0.764
year2004             0.3014      0.238      1.266      0.207      -0.167       0.770
year2005             0.2934      0.244      1.201      0.231      -0.188       0.775
chrysler             0.6086      0.234      2.597      0.010       0.147       1.070
dodge               -0.6185      0.316     -1.955      0.052      -1.242       0.005
eagle                0.1647      0.419      0.393      0.694      -0.660       0.989
plymouth             0.3141      0.529      0.594      0.553      -0.727       1.356
ford                 1.4693      0.250      5.883      0.000       0.978       1.961
jaguar              -0.1468      0.284     -0.517      0.606      -0.706       0.412
lincoln              1.4759      0.301      4.907      0.000       0.884       2.068
mercury              1.2358      0.381      3.240      0.001       0.485       1.987
subaru               1.4606      0.384      3.804      0.000       0.704       2.217
buick                0.6839      0.288      2.371      0.018       0.116       1.252
cadillac             0.6456      0.203      3.183      0.002       0.246       1.045
chevrolet            1.6715      0.258      6.469      0.000       1.163       2.180
pontiac              0.7342      0.330      2.225      0.027       0.084       1.384
acura               -0.3354      0.192     -1.749      0.082      -0.713       0.042
kia                 -0.2579      0.627     -0.411      0.681      -1.493       0.977
infiniti             0.1587      0.208      0.764      0.446      -0.250       0.568
==============================================================================
Omnibus:                       48.009   Durbin-Watson:                   0.941
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               71.646
Skew:                          -0.998   Prob(JB):                     2.77e-16
Kurtosis:                       4.364   Cond. No.                         304.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 3.2.1 OLS: Calculating the price elasticity

In [38]:
## Channel Elasticity 
model4params = est2.params
data4 = luxury_df
data4 = data4[["TV",'Print', "Radio","Online","Outdoor","Prices_avg_model"]]
data4mean = pd.DataFrame(data4.mean())
data4mean.columns = ["MeanValues"]
data4mean["Sales"] = luxury_df["Sales"].mean()
data4mean["Variance"] = data4.var()
#data2mean
data4mean["Coefficients"] = model4params
data4mean["Elasticity"] = data4mean["Coefficients"]*(data4mean["MeanValues"]/data4mean["Sales"])
data4mean

,MeanValues,Sales,Variance,Coefficients,Elasticity
TV,14935.768027,35035.308784,2.536081e+08,0.736220,0.313855
Print,7405.162585,35035.308784,4.955133e+07,0.363514,0.076833
Radio,76.904762,35035.308784,7.287504e+04,0.451414,0.000991
Online,263.063265,35035.308784,3.587310e+05,1.005227,0.007548
Outdoor,8.809184,35035.308784,5.078976e+03,7.002652,0.001761
Prices_avg_model,38269.527063,35035.308784,2.757252e+08,-0.388754,-0.424641

In [39]:
data4mean["Elasticity"]

TV                  0.313855
Print               0.076833
Radio               0.000991
Online              0.007548
Outdoor             0.001761
Prices_avg_model   -0.424641
Name: Elasticity, dtype: float64

## 3.2.2 Log-Log: Calculating the price elasticity

In [40]:
coef_log = estloglux2.params[estloglux2.params.index.isin(['TV','Print','Radio','Online','Outdoor','Prices_avg_model'])]
mean_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].mean()
var_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].var()
mean_logY  = logY[['Sales']].mean()


data4log = pd.DataFrame(data=[mean_logX, coef_log, var_logX])
data4log = data4log.T.rename(columns={0:'MeanValues', 1:'Coefficients', 2:'Variance'})
data4log['Sales'] = mean_logY[0]
data4log['channel'] = data4log.index
data4log = data4log[['MeanValues', 'Sales', 'Variance', 'channel', 'Coefficients']]
data4log["Elasticity"] = data4log["Coefficients"]
data4log

,MeanValues,Sales,Variance,channel,Coefficients,Elasticity
TV,7.735532,9.849131,11.673040,TV,0.212362,0.212362
Print,7.667679,9.849131,7.217970,Print,0.030696,0.030696
Radio,0.951539,9.849131,4.585731,Radio,-0.025086,-0.025086
Online,2.809781,9.849131,7.645398,Online,0.023416,0.023416
Outdoor,0.187687,9.849131,0.868215,Outdoor,0.016965,0.016965
Prices_avg_model,10.439747,9.849131,0.527733,Prices_avg_model,-0.374859,-0.374859

# 4. Splitting into international brands and domestic brands

In [44]:
international_df=channel_sales_df[channel_sales_df['Business']=='International']
domestic_df=channel_sales_df[channel_sales_df['Business']=='Domestic']

In [45]:
international_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005'],
      dtype='object')

In [46]:
brndarry = international_df['brand'].drop_duplicates().values
df = international_df.copy()

for i in range(len(brndarry)):
    def brnddummy(val): 
        #print("test")
        if val == brndarry[i]:
            return(1)
        else:
            return(0)
    df[brndarry[i]] = df["brand"].map(brnddummy) 

    
columnnamess = df.columns
colnamesmod = columnnamess[7:(len(columnnamess)-1)]
colnamesmod

international_df = df
international_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
       'jaguar', 'subaru', 'acura', 'kia', 'infiniti', 'scion', 'audi'],
      dtype='object')

## 4.1.1 OLS Model:  TV, Print, Online and Prices_avg_model are significant.

In [47]:
##Year 1995 as base for year dummy and audi for brand dummy
X_international=international_df[['TV', 'Print', 'Radio', 'Online', 'Outdoor',  'Prices_avg_model',
                                  'year1996', 'year1997', 'year1998', 'year1999',
                                   'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
                                  'jaguar', 'subaru', 'acura', 'kia', 'infiniti', 'scion']]
X_international = sm.add_constant(X_international)
Y_international=international_df[['Sales']]
import statsmodels.api as sm
est = sm.OLS(Y_international, X_international)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.634
Model:                            OLS   Adj. R-squared:                  0.583
Method:                 Least Squares   F-statistic:                     12.58
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           8.41e-25
Time:                        13:12:54   Log-Likelihood:                -2027.4
No. Observations:                 183   AIC:                             4101.
Df Residuals:                     160   BIC:                             4175.
Df Model:                          22
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             1.987e+04   6755.336      2.942      0.004    6532.564    3.32e+04
TV                   0.4775      0.120      3.964      0.000       0.240       0.715
Print                0.6684      0.296      2.255      0.025       0.083       1.254
Radio               -1.5197      6.881     -0.221      0.825     -15.110      12.070
Online              -4.9921      1.779     -2.805      0.006      -8.506      -1.478
Outdoor            -75.4793     42.836     -1.762      0.080    -160.075       9.117
Prices_avg_model    -0.4501      0.085     -5.289      0.000      -0.618      -0.282
year1996          2604.4401   5999.967      0.434      0.665   -9244.904    1.45e+04
year1997          4643.1982   6130.755      0.757      0.450   -7464.440    1.68e+04
year1998          5469.6171   6262.196      0.873      0.384   -6897.604    1.78e+04
year1999          6792.2849   6241.984      1.088      0.278   -5535.020    1.91e+04
year2000          1.564e+04   6367.478      2.456      0.015    3060.251    2.82e+04
year2001          8173.0272   5933.721      1.377      0.170   -3545.487    1.99e+04
year2002          1.186e+04   5938.545      1.997      0.048     129.746    2.36e+04
year2003            1.1e+04   5939.468      1.851      0.066    -734.628    2.27e+04
year2004          1.273e+04   6051.892      2.104      0.037     782.673    2.47e+04
year2005          1.225e+04   5915.468      2.072      0.040     571.761    2.39e+04
jaguar            1230.9734   5654.563      0.218      0.828   -9936.233    1.24e+04
subaru             3.47e+04   4762.099      7.286      0.000    2.53e+04    4.41e+04
acura             3640.1123   3811.952      0.955      0.341   -3888.119    1.12e+04
kia               1.614e+04   6421.598      2.513      0.013    3455.374    2.88e+04
infiniti         -1127.0340   4208.949     -0.268      0.789   -9439.295    7185.227
scion             3.392e+04   1.04e+04      3.275      0.001    1.35e+04    5.44e+04
==============================================================================
Omnibus:                        3.362   Durbin-Watson:                   0.942
Prob(Omnibus):                  0.186   Jarque-Bera (JB):                3.012
Skew:                           0.225   Prob(JB):                        0.222
Kurtosis:                       3.439   Cond. No.                     5.19e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.19e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/chenlin/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

## 4.1.2 Log-Log Model: TV, Print, Online and Prices_avg_model are significant.

In [48]:
logX = X_international.copy()
logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']]=logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].apply(lambda x: np.log(x+1))
logY = Y_international.apply(lambda y: np.log(y+1))


estlogint = sm.OLS(logY, logX)
estlogint2 = estlogint.fit()
print(estlogint2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.829
Model:                            OLS   Adj. R-squared:                  0.805
Method:                 Least Squares   F-statistic:                     35.22
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           4.23e-50
Time:                        13:12:54   Log-Likelihood:                -162.80
No. Observations:                 183   AIC:                             371.6
Df Residuals:                     160   BIC:                             445.4
Df Model:                          22
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               31.6088      1.699     18.607      0.000      28.254      34.964
TV                   0.1321      0.021      6.254      0.000       0.090       0.174
Print                0.0877      0.024      3.656      0.000       0.040       0.135
Radio                0.0721      0.033      2.200      0.029       0.007       0.137
Online              -0.0291      0.025     -1.145      0.254      -0.079       0.021
Outdoor             -0.0935      0.052     -1.808      0.072      -0.196       0.009
Prices_avg_model    -2.3233      0.155    -14.946      0.000      -2.630      -2.016
year1996             0.2848      0.227      1.257      0.211      -0.163       0.732
year1997             0.5957      0.230      2.587      0.011       0.141       1.050
year1998             0.6190      0.235      2.633      0.009       0.155       1.083
year1999             0.5594      0.236      2.374      0.019       0.094       1.025
year2000             0.8710      0.241      3.612      0.000       0.395       1.347
year2001             0.8345      0.234      3.559      0.000       0.371       1.298
year2002             0.9137      0.234      3.899      0.000       0.451       1.377
year2003             0.9703      0.236      4.118      0.000       0.505       1.436
year2004             1.0725      0.244      4.391      0.000       0.590       1.555
year2005             1.1357      0.246      4.626      0.000       0.651       1.621
jaguar               0.0887      0.217      0.408      0.684      -0.340       0.518
subaru               0.3343      0.195      1.716      0.088      -0.050       0.719
acura               -0.4132      0.142     -2.919      0.004      -0.693      -0.134
kia                 -1.1690      0.253     -4.626      0.000      -1.668      -0.670
infiniti            -0.0076      0.157     -0.048      0.962      -0.318       0.303
scion               -1.6243      0.390     -4.160      0.000      -2.395      -0.853
==============================================================================
Omnibus:                        0.137   Durbin-Watson:                   1.315
Prob(Omnibus):                  0.934   Jarque-Bera (JB):                0.139
Skew:                           0.062   Prob(JB):                        0.933
Kurtosis:                       2.948   Cond. No.                         570.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 4.2.1 OLS Model: Calculating the Price Elasticities

In [49]:
## Channel Elasticity 
model5params = est2.params
data5 = international_df
data5 = data5[["TV","Radio","Online","Outdoor",'Prices_avg_model']]
data5mean = pd.DataFrame(data5.mean())
data5mean.columns = ["MeanValues"]
data5mean["Sales"] = international_df["Sales"].mean()
data5mean["Variance"] = data5.var()
#data2mean
data5mean["Coefficients"] = model5params
data5mean["Elasticity"] = data5mean["Coefficients"]*(data5mean["MeanValues"]/data5mean["Sales"])
data5mean

,MeanValues,Sales,Variance,Coefficients,Elasticity
TV,14801.384699,30128.38679,2.450173e+08,0.477532,0.234601
Radio,57.225683,30128.38679,5.661540e+04,-1.519669,-0.002886
Online,305.530055,30128.38679,7.944416e+05,-4.992091,-0.050624
Outdoor,7.258470,30128.38679,1.385031e+03,-75.479344,-0.018184
Prices_avg_model,35572.699454,30128.38679,3.603551e+08,-0.450110,-0.531446

## 4.2.2 Log-Log: Calculating the Price Elasticities

In [50]:
coef_log = estlogint2.params[estlogint2.params.index.isin(['TV','Print','Radio','Online','Outdoor','Prices_avg_model'])]
mean_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].mean()
var_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].var()
mean_logY  = logY[['Sales']].mean()


data5log = pd.DataFrame(data=[mean_logX, coef_log, var_logX])
data5log = data5log.T.rename(columns={0:'MeanValues', 1:'Coefficients', 2:'Variance'})
data5log['Sales'] = mean_logY[0]
data5log['channel'] = data5log.index
data5log = data5log[['MeanValues', 'Sales', 'Variance', 'channel', 'Coefficients']]
data5log["Elasticity"] = data5log["Coefficients"]
data5log

,MeanValues,Sales,Variance,channel,Coefficients,Elasticity
TV,7.805125,9.71075,10.977612,TV,0.132112,0.132112
Print,7.353183,9.71075,7.849548,Print,0.087736,0.087736
Radio,0.603303,9.71075,3.170690,Radio,0.072147,0.072147
Online,2.402594,9.71075,7.978050,Online,-0.029116,-0.029116
Outdoor,0.254869,9.71075,1.119879,Outdoor,-0.093505,-0.093505
Prices_avg_model,10.350095,9.71075,0.259009,Prices_avg_model,-2.323324,-2.323324

# 5. domestic brands

In [51]:
domestic_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005'],
      dtype='object')

In [52]:
brndarry = domestic_df['brand'].drop_duplicates().values
df = domestic_df.copy()

for i in range(len(brndarry)):
    def brnddummy(val): 
        #print("test")
        if val == brndarry[i]:
            return(1)
        else:
            return(0)
    df[brndarry[i]] = df["brand"].map(brnddummy) 

    
columnnamess = df.columns
colnamesmod = columnnamess[7:(len(columnnamess)-1)]
colnamesmod

domestic_df = df
domestic_df.columns

Index(['company', 'Sales', 'brand', 'Model', 'Brand + Model', 'Type',
       'Business', 'TV', 'Print', 'Radio', 'Online', 'Outdoor',
       'Prices_avg_model', 'year1996', 'year1997', 'year1998', 'year1999',
       'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
       'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'lincoln', 'mercury',
       'buick', 'cadillac', 'chevrolet', 'oldsmobile', 'pontiac', 'saturn'],
      dtype='object')

## 5.1 OLS Model: TV, Online And Prices_avg_model are significant

In [53]:
X_domestic=domestic_df[['TV', 'Print', 'Radio', 'Online', 'Outdoor',  'Prices_avg_model','year1996', 'year1997', 'year1998', 'year1999',
                        'year2000', 'year2001', 'year2002', 'year2003', 'year2004', 'year2005',
                       'chrysler', 'dodge', 'eagle', 'plymouth', 'ford', 'lincoln', 'mercury',
                       'buick', 'cadillac', 'chevrolet', 'oldsmobile', 'pontiac']]
X_domestic = sm.add_constant(X_domestic)

Y_domestic=domestic_df[['Sales']]
import statsmodels.api as sm
est = sm.OLS(Y_domestic, X_domestic)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.669
Model:                            OLS   Adj. R-squared:                  0.649
Method:                 Least Squares   F-statistic:                     32.94
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           1.73e-91
Time:                        13:12:55   Log-Likelihood:                -5873.0
No. Observations:                 485   AIC:                         1.180e+04
Df Residuals:                     456   BIC:                         1.193e+04
Df Model:                          28
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             3.488e+04    2.5e+04      1.396      0.163   -1.42e+04     8.4e+04
TV                   2.0156      0.124     16.196      0.000       1.771       2.260
Print               -0.3082      0.249     -1.239      0.216      -0.797       0.181
Radio                5.5001      5.798      0.949      0.343      -5.895      16.895
Online              -4.6584      1.739     -2.679      0.008      -8.076      -1.241
Outdoor            -10.4247     18.045     -0.578      0.564     -45.886      25.036
Prices_avg_model    -1.2296      0.222     -5.537      0.000      -1.666      -0.793
year1996             0.7363   9033.177   8.15e-05      1.000   -1.78e+04    1.78e+04
year1997         -4236.2207   8873.481     -0.477      0.633   -2.17e+04    1.32e+04
year1998          1019.8185   9298.488      0.110      0.913   -1.73e+04    1.93e+04
year1999          4321.2833   9380.279      0.461      0.645   -1.41e+04    2.28e+04
year2000          3732.2907   9351.356      0.399      0.690   -1.46e+04    2.21e+04
year2001           1.01e+04   9526.476      1.060      0.290   -8618.925    2.88e+04
year2002          8791.1280   9734.302      0.903      0.367   -1.03e+04    2.79e+04
year2003          6843.4448      1e+04      0.682      0.496   -1.29e+04    2.66e+04
year2004          8813.1770   1.01e+04      0.877      0.381   -1.09e+04    2.86e+04
year2005         -2348.1922      1e+04     -0.235      0.815    -2.2e+04    1.73e+04
chrysler         -4772.2472   2.46e+04     -0.194      0.846   -5.31e+04    4.36e+04
dodge             3.458e+04   2.46e+04      1.408      0.160   -1.37e+04    8.28e+04
eagle            -2.421e+04   3.03e+04     -0.798      0.425   -8.38e+04    3.54e+04
plymouth          2.023e+04   2.68e+04      0.755      0.450   -3.24e+04    7.29e+04
ford               9.65e+04   2.42e+04      3.985      0.000    4.89e+04    1.44e+05
lincoln           5.333e+04   2.79e+04      1.912      0.057   -1495.191    1.08e+05
mercury           3.651e+04   2.48e+04      1.474      0.141   -1.22e+04    8.52e+04
buick             3.935e+04   2.48e+04      1.587      0.113   -9378.394    8.81e+04
cadillac          1.106e+04   2.53e+04      0.437      0.663   -3.87e+04    6.08e+04
chevrolet         6.778e+04    2.4e+04      2.819      0.005    2.05e+04    1.15e+05
oldsmobile        2.887e+04    2.5e+04      1.157      0.248   -2.02e+04    7.79e+04
pontiac           3.721e+04   2.41e+04      1.542      0.124   -1.02e+04    8.46e+04
==============================================================================
Omnibus:                       29.061   Durbin-Watson:                   0.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.370
Skew:                           0.439   Prob(JB):                     1.41e-10
Kurtosis:                       4.214   Cond. No.                     1.68e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.68e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

## 5.1.2 Log-Log Model: TV and Prices_avg_model are significant

In [54]:
logX = X_domestic.copy()
logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']]=logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].apply(lambda x: np.log(x+1))
logY = Y_domestic.apply(lambda y: np.log(y+1))


estlogdom = sm.OLS(logY, logX)
estlogdom2 = estlogdom.fit()
print(estlogdom2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.608
Model:                            OLS   Adj. R-squared:                  0.584
Method:                 Least Squares   F-statistic:                     25.23
Date:                Sat, 09 Nov 2019   Prob (F-statistic):           3.83e-75
Time:                        13:12:55   Log-Likelihood:                -517.84
No. Observations:                 485   AIC:                             1094.
Df Residuals:                     456   BIC:                             1215.
Df Model:                          28
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               11.2587      0.748     15.049      0.000       9.789      12.729
TV                   0.2087      0.016     12.662      0.000       0.176       0.241
Print                0.0010      0.015      0.068      0.946      -0.029       0.031
Radio               -0.0035      0.015     -0.228      0.820      -0.033       0.026
Online               0.0259      0.016      1.625      0.105      -0.005       0.057
Outdoor             -0.0318      0.025     -1.256      0.210      -0.081       0.018
Prices_avg_model    -0.3071      0.065     -4.730      0.000      -0.435      -0.180
year1996             0.1193      0.146      0.818      0.414      -0.167       0.406
year1997            -0.1513      0.143     -1.058      0.290      -0.432       0.130
year1998             0.0043      0.148      0.029      0.977      -0.287       0.296
year1999             0.1648      0.149      1.107      0.269      -0.128       0.457
year2000             0.1963      0.150      1.307      0.192      -0.099       0.491
year2001             0.1877      0.153      1.224      0.222      -0.114       0.489
year2002             0.1262      0.156      0.809      0.419      -0.180       0.433
year2003             0.1401      0.161      0.868      0.386      -0.177       0.457
year2004            -0.0174      0.161     -0.108      0.914      -0.334       0.299
year2005             0.0278      0.160      0.174      0.862      -0.286       0.342
chrysler             0.1225      0.382      0.320      0.749      -0.629       0.874
dodge                0.4727      0.382      1.237      0.217      -0.278       1.224
eagle               -0.4922      0.483     -1.020      0.308      -1.441       0.456
plymouth             0.6027      0.420      1.436      0.152      -0.222       1.428
ford                 1.5115      0.380      3.982      0.000       0.766       2.257
lincoln              0.8841      0.419      2.109      0.035       0.060       1.708
mercury              0.9411      0.389      2.417      0.016       0.176       1.706
buick                0.8176      0.388      2.109      0.035       0.056       1.579
cadillac             0.2580      0.389      0.664      0.507      -0.506       1.022
chevrolet            1.2918      0.376      3.433      0.001       0.552       2.031
oldsmobile           0.9084      0.396      2.295      0.022       0.130       1.686
pontiac              1.0200      0.380      2.682      0.008       0.273       1.767
==============================================================================
Omnibus:                      105.270   Durbin-Watson:                   1.061
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              301.668
Skew:                          -1.032   Prob(JB):                     3.12e-66
Kurtosis:                       6.266   Cond. No.                         653.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 5.2.1 OLS Model: Calculating the price elasticities

In [55]:
## Channel Elasticity 
model6params = est2.params
data6 = domestic_df
data6 = data6[["TV","Radio","Online","Outdoor",'Prices_avg_model']]
data6mean = pd.DataFrame(data6.mean())
data6mean.columns = ["MeanValues"]
data6mean["Sales"] = domestic_df["Sales"].mean()
data6mean["Variance"] = data6.var()
#data2mean
data6mean["Coefficients"] = model6params
data6mean["Elasticity"] = data6mean["Coefficients"]*(data6mean["MeanValues"]/data6mean["Sales"])
data6mean

,MeanValues,Sales,Variance,Coefficients,Elasticity
TV,22049.663918,85660.303093,6.060143e+08,2.015566,0.518823
Radio,126.922474,85660.303093,1.457319e+05,5.500074,0.008149
Online,695.262268,85660.303093,2.537733e+06,-4.658356,-0.037810
Outdoor,33.185155,85660.303093,3.109643e+04,-10.424722,-0.004039
Prices_avg_model,25241.787450,85660.303093,1.409861e+08,-1.229565,-0.362320

## 5.2.2 Log-Log Model: Calculating the price elasticities

In [56]:
coef_log = estlogdom2.params[estlogdom2.params.index.isin(['TV','Print','Radio','Online','Outdoor','Prices_avg_model'])]
mean_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].mean()
var_logX = logX[['TV','Print','Radio','Online','Outdoor','Prices_avg_model']].var()
mean_logY  = logY[['Sales']].mean()


data6log = pd.DataFrame(data=[mean_logX, coef_log, var_logX])
data6log = data6log.T.rename(columns={0:'MeanValues', 1:'Coefficients', 2:'Variance'})
data6log['Sales'] = mean_logY[0]
data6log['channel'] = data6log.index
data6log = data6log[['MeanValues', 'Sales', 'Variance', 'channel', 'Coefficients']]
data6log["Elasticity"] = data6log["Coefficients"]
data6log

,MeanValues,Sales,Variance,channel,Coefficients,Elasticity
TV,8.367578,10.901067,9.715377,TV,0.208697,0.208697
Print,7.315140,10.901067,11.403897,Print,0.001042,0.001042
Radio,1.574054,10.901067,6.222569,Radio,-0.003457,-0.003457
Online,3.871020,10.901067,9.111883,Online,0.025856,0.025856
Outdoor,0.457562,10.901067,2.146537,Outdoor,-0.031759,-0.031759
Prices_avg_model,10.032622,10.901067,0.363951,Prices_avg_model,-0.307148,-0.307148